*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#background{
    /* background-image: url('https://media.tenor.com/R4_sUN8G5uYAAAAd/rick-and-morty.gif'); */
    /* background-image: url('https://i.pinimg.com/originals/f8/46/ff/f846ff732d55b7ac19d34009ab4a3606.gif'); */
    background-image: url('https://steamuserimages-a.akamaihd.net/ugc/1770453485893246977/FA4026EBB255ACE569504E4EB81645214FDF1CE7/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true'); 
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    opacity: 0.8;
}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 50%;
    margin: 1%;

}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: 1%;
    background-color: rgba(22, 53, 85, 0.5);

    --angle: 0deg;
	border: 6px solid;
    border-image: linear-gradient(var(--angle), #b2e2e9, #9eb3ee, #d0e0f3, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82) 1;
    width:45%;  
    animation: 5s rotate linear infinite;
    border-radius: 4px;
    box-shadow: 0px 0px 8px #fff;

}

.cardImg{
    display: flex;
    justify-self: center;
    width: 70%;
    border-radius: 50%;
    box-shadow:
        0px 0px 15px #fff,
        0px 0px 20px #0011ff,
        0px 0px 25px #fff;
    
}
.info{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}
h2{
    text-align: center;
    color: whitesmoke;
    text-shadow: #000000 4px 0 10px;

}
p{
    color: whitesmoke;
    text-shadow: #000000 3px 0 10px;
}

/** animación del borde de las cards */
@keyframes rotate {
    to {
        --angle: 360deg;
        }
    }


@media (min-width: 640px) {
    .card{
        width: 30%;
        transition: ease-in-out;
    }
    
}

@media (min-width: 960px) {
    .card{
        width: 23%;
        transition: ease-in-out;
    }
    
}

@media (min-width: 1300px) {
    .card{
        width: 17%;
        transition: ease-in-out;
    }
    
}